@import '_utils.scss';

/* -------------------------------------------------------------------------------------------------------------------
                                                    GENERAL ATTRIBUTES
 ------------------------------------------------------------------------------------------------------------------- */

html, body {
	position: absolute;
    width: 100%;
	top: 0;
	left: 0;
    margin: 0;
    padding: 0;
	height: auto;
	background-color: $darkGrey;
    overflow-x: hidden;
}

textarea, input, button 	{ outline: none; border: none; }
button                  	{ margin: 0; padding: 0; border: none; cursor: pointer; background-color: transparent; }
a                       	{ text-decoration: none; cursor: pointer; }
ul 					        { list-style-type: none; }
img                         { border: 0; }

.show { visibility: visible; opacity: 1; }
.hide { visibility: hidden; opacity: 0; }

.grey, grey     { color: $grey !important; }
.green, green   { color: $green; }
.red, red       { color: $red; }
.white, white   { color: white; }
.orange, orange { color: $orange !important; }
.offw, offw     { color: $off-white !important; }
.menuColor, 
menuColor       { color: $orange !important; }

#header {
    background-color: $darkGrey;

    h6 {
        font: italic 900 60px $font;
        color: $off-white;
        text-transform: uppercase;
        width: 100%;
        text-align: center;
        margin: 90px 0 70px 0;
    }
}

#error_overlay, #js_error {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(20,20,20);
    z-index: 9999;
    
    > div {
        position: relative;
        width: 50%;
        margin: 40px 25%;

        .overlay_image {
            display: block;
            position: relative;
            width: 220px;
            height: 220px;
            margin-left: calc(50% - 220px / 2);
            border-radius: 50%;
        }
            > #error_overlay_image {
                @extend .overlay_image;
                background: $red no-repeat center/55% url("/Images/close_white.png");
            }
            > #success_overlay_image {
                @extend .overlay_image;
                background: $green no-repeat center/55% url("/Images/check.png");
            }

        > h1, > a, > button {
            display: block !important;
            text-align: center;
            font: italic 400 36px $font;
        }
        > h1 {
            color: $off-white;
            width: 80% !important;
            margin-left: 10%;
        }
        > a, > button {
            width: 60% !important;
            margin-left: 20%;
            margin-top: 50px !important;
            position: relative;
            color: $grey;
            border: 1px solid $darkGrey;
            padding: 15px 0;
        }
         > a:hover, > button:hover { color: $off-white; border-color: $off-white; }
    }
}

@media screen and (max-width:1200px) {
    #error_overlay > div {
        width: 75%;
        margin: 40px 12.5%;
        > h1, > a { font-size: 30px !important; }
    }
}

@media screen and (max-width:600px) {
    #error_overlay > div {
        margin-top: 80px !important;
        width: 100%;
        margin: 20px 0;
        > h1, > a, > button { font-size: 20px !important; }
        > a, > button { margin-top: 20px !important; }
        > div { width: 120px !important; height: 120px !important; margin-left: calc(50% - 120px /2) !important; }
    }
}

.info, .h {
    button, a, h1, h2, h3, h4, h5 {
        position: relative;
        display: block;
        text-align: center;
    }
    
    h1, h2, h3, h4, h5 { 
        font: italic 900 40px $font;
        color: $off-white; 
        padding: 0;
        margin: 0;
    }
    
    h1 { font-size: 36px; line-height: 30px; }
    h2 { font-size: 24px; }
    h3 { font-size: 18px; }
    h4 { font: 400 16px $font; padding: 0; margin: 0; }
    h5 { font: 400 14px Lato, sans-serif; color: white;}
}

.info_container {
    position: relative;
    float: left;
    clear: both;
    width: 85%;
    max-width: $maxContainerWidth;
    height: auto;
}
.info {
    position: relative;
    float: left;
    clear: both;
    width: 100%;
    height: auto;
    background-color: $infoBgColor;
    margin: 2px auto;
}

@media screen and (max-width: 1325px) {
    .info {
        #rep > h2 { margin-bottom: 20px; }
        #rank > h2 { margin-bottom: 15px; }
        h1 { font-size: 28px; }
        h2 { font-size: 19px; }
        h3 { font-size: 15px; }
        h4 { font-size: 13px; }
        h5 { font-size: 12px; }
    }
}

@media screen and (max-width: 1100px) {
    .info {
        h1 { font-size: 23px; }
        h2 { font-size: 16px; }
        h3 { font-size: 14px; }
    }
}

.popUp {
    position: fixed;
    width: 100%;
    height: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 1500;

    > .prompt {
        float: left;
        position: relative;
        display: block;
        width: 80%;
        height: auto;
        padding: 0;
        background-color: rgba(0,0,0,0.9);
        max-width: $maxContainerWidth;
        overflow: hidden;
        opacity: 0;

        > h1 {
            display: block;
            width: 90%;
            padding: 15px 5%;
            text-align: center;
            font: italic 900 36px $font;
            color: $off-white;
        }

        > span {
            display: block;
            max-width: 80%;
            margin-left: 10%;
            color: $off-white;
            font: 400 18px $font;
        }

        > div {
            position: relative;
            float: left;
            display: block;
            height: auto;
            width: 60%;
            margin-left: 20%;

            > button {
                display: block;
                position: relative;
                float: right;
                clear: none;
                width: 40%;
                min-width: 140px !important;
                margin: 40px 5% 20px 5%;
                font: 400 18px $font;
                text-align: right;
                text-indent: 75px;
                color: transparent;
                direction: rtl;
                background-size: 30px !important;
                height: 65px;
                transition: background 0.4s;
            }
                > button:disabled { background-color: $grey !important; cursor: default;}
                > button:not(:disabled):hover {
                    background-position-x: calc(100% - 30px) !important;
                    color: white;
                    transition: 0.4s, color 0.2s ease 0.4s;
                }
        }
        

        > .lastMatch, .nextMatch {
            position: relative;
            float: left;
            display: block;
            height: auto;
            top: 0;
            left: 0;
            clear: both;
            margin: 0 !important;

            h1, h2, h3 {
                font-family: $font;
                color: $off-white;
            }
            
            > div {
                float: left;
                position: relative;
                display: block;
            }
            
            .header1 { font-weight: 900; text-transform: uppercase; }
            h1 { @extend .header1; font-style: italic; font-size: 30px; margin: 5px 0; }
            h2 { @extend .header1; font-size: 22px; font-weight: 400; }
            h3 { font-size: 16px; font-weight: 400; padding-bottom: 40px; }

            .imgTeam > img { 
                display: block;
                width: calc(100% - 16px);
                height: calc(100% - 16px);
                margin: 0 auto !important;
                border-radius: 50%;
                border: 8px solid rgba(255,255,255,0.2);
            }
        }

        > .lastMatch {
            width: auto;
            padding-bottom: 30px !important;

            h2, h3 { width: 100%; margin: 0 0 2px 0; text-align: center; }

            > div:not(.imgTeam) { margin: 0 30px; }
            > .imgTeam { width: 96px; height: 96px; }
        }

        > .nextMatch {
            width: 95%;
            padding: 20px 0 30px 5%;
            background-color: rgba(255,255,255,0.07);

            h1 { margin-bottom: 15px; }
            h2 { font-weight: 900; font-style: italic; margin: 0 20px; height: 86px; line-height: 86px; }

            > div { 
                width: 100%; 

                > div {
                    float: left;
                    position: relative;
                    display: block;
                    margin: 0 !important;
                }
                    > div:not(.imgTeam) {
                        width: auto !important;
                    }

                > .imgTeam {
                    width: 70px;
                    height: 70px;

                    > img { border-width: 5px !important; }
                }
            }

            .map {
                float: right; 

                > h2 { float: left; }
                > img {
                    position: relative;
                    float: left;
                    height: 86px;
                    right: 0;
                    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 25% 100%);
                    clip-path: polygon(0 0, 100% 0%, 100% 100%, 25% 100%);
                }
            }
        }
    }
}

.popUp:not(.yesNo) > .prompt > div > button {
    background: $green no-repeat center url("/Images/check.png");
    right: -10% !important;
    margin-right: 0 !important;
}

.popUp.yesNo > .prompt > div {
    > #confirmPrompt { 
        background: $green no-repeat center url("/Images/check.png");
    }
    > #closePrompt { 
        background: $red no-repeat center url("/Images/close_white.png");
    }
}

.inputError {
    $triangle_height: 14px;

    position: absolute;
    display: block;
    border: 2px solid $red;
    background-color: rgba(0,0,0,0.8);
    margin: $triangle_height + 4px 0;
    z-index: 3000;

    > .popUp_triangle {
        position: absolute;
        display: block;
        height: $triangle_height;
        width: $triangle_height * 2;
        left: calc(50% - 14px) !important;
        background-color: $red;

        -webkit-clip-path: polygon(50% 0, 0% 100%, 100% 100%);
        clip-path: polygon(50% 0, 0% 100%, 100% 100%);
    }
        > .popUp_triangle.top {
            top: -$triangle_height - 2px;
        }
        > .popUp_triangle.below {
            top: 100%;
            @include rotate(180deg);
        }

    > h3 {
        display: block;
        position: relative;
        width: auto;
        padding: 5px 0;
        font: 400 14px $font;
        color: $off-white;
        margin-left: 15px;
    }
}

@media screen and (max-width: 840px) {
    .prompt { 
        width: 100% !important; 

        > div { width: 100%; }
        > span { font-size: 16px !important; }
    }
}

#loading {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.75);
    z-index: 899;

    .load {
        position: relative;
        display: block;
        width: 70px;
        height: 70px;
        margin: 0 auto;
        
        > div {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            
            display: none;
        }
    }
    > .loading {
        @extend .load;
        background: no-repeat center url('/Images/load.gif');
    }

    > .success {
        @extend .load;
        border: 6px solid $green;
        border-radius: 50%;
        width: 58px;
        height: 58px;

        > div { display: block; background: no-repeat center url(/Images/check.png); background-size: 40px; }
    }

    > .error {
        @extend .load;
        border: 6px solid $red;
        border-radius: 50%;
        width: 58px;
        height: 58px;

        > div { display: block; background: no-repeat center url(/Images/close_white.png); background-size: 40px; }
    }
}

#toTop, #toBottom {
    float: left;
    position: fixed;
    display: block;
    left: 0;
    bottom: 0 !important;
    margin: 0 0 15px 15px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-size: 15px !important;
    background-color: $infoBgColor !important;
    z-index: 895 !important;
}
    #toTop { background: no-repeat center url(/Images/up_dark.png); left: 55px; }
    #toBottom { background: no-repeat center url(/Images/down_dark.png); }

    #toTop:hover, #toBottom:hover {
        border: 1px solid $grey;
        margin: 0 0 14px 14px;
    }
        #toTop:hover { background-image: url(/Images/up.png); }
        #toBottom:hover { background-image: url(/Images/down.png); }

    #toTop:active, #toBottom:active {
        border: 1px solid $menuColor;
        margin: 0 0 14px 14px;
    }