/* -------------------------------------------------------------------------------------------------------------------
                                                    GENERAL ATTRIBUTES
 ------------------------------------------------------------------------------------------------------------------- */
html, body {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: auto;
  background-color: #323232;
  overflow-x: hidden; }

textarea, input, button {
  outline: none;
  border: none; }

button {
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent; }

a {
  text-decoration: none;
  cursor: pointer; }

ul {
  list-style-type: none; }

img {
  border: 0; }

.show {
  visibility: visible;
  opacity: 1; }

.hide {
  visibility: hidden;
  opacity: 0; }

.grey, grey {
  color: #626262; }

.green, green {
  color: #51c24b; }

.red, red {
  color: #963434; }

.white, white {
  color: white; }

#error_overlay, #js_error {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  background-color: #141414;
  z-index: 9999; }
  #error_overlay > div, #js_error > div {
    position: relative;
    width: 50%;
    margin: 40px 25%; }
    #error_overlay > div > #error_overlay_image, #js_error > div > #error_overlay_image {
      display: block;
      position: relative;
      width: 220px;
      height: 220px;
      margin-left: calc(50% - 220px / 2);
      background: #963434 no-repeat center/55% url("/Images/close.png");
      border-radius: 50%; }
    #error_overlay > div > h1, #error_overlay > div > a, #error_overlay > div > button, #js_error > div > h1, #js_error > div > a, #js_error > div > button {
      display: block !important;
      text-align: center;
      font: italic 400 36px Lato, Arial, sans-serif; }
    #error_overlay > div > h1, #js_error > div > h1 {
      color: #eeeeee;
      width: 80% !important;
      margin-left: 10%; }
    #error_overlay > div > a, #error_overlay > div > button, #js_error > div > a, #js_error > div > button {
      width: 60% !important;
      margin-left: 20%;
      margin-top: 50px !important;
      position: relative;
      color: #626262;
      border: 1px solid #323232;
      padding: 15px 0; }
    #error_overlay > div > a:hover, #error_overlay > div > button:hover, #js_error > div > a:hover, #js_error > div > button:hover {
      color: #eeeeee;
      border-color: #eeeeee; }

@media screen and (max-width: 1200px) {
  #error_overlay > div {
    width: 75%;
    margin: 40px 12.5%; }
    #error_overlay > div > h1, #error_overlay > div > a {
      font-size: 30px !important; } }

@media screen and (max-width: 600px) {
  #error_overlay > div {
    margin-top: 80px !important;
    width: 100%;
    margin: 20px 0; }
    #error_overlay > div > h1, #error_overlay > div > a, #error_overlay > div > button {
      font-size: 20px !important; }
    #error_overlay > div > a, #error_overlay > div > button {
      margin-top: 20px !important; }
    #error_overlay > div > div {
      width: 120px !important;
      height: 120px !important;
      margin-left: calc(50% - 120px /2) !important; } }

html, body {
  min-height: 100%; }

button, a, h1, h2, h3, h4, h5 {
  position: relative;
  display: block;
  text-align: center; }

h1, h2, h3, h4, h5 {
  font: italic 900 40px Lato, Arial, sans-serif;
  color: #eeeeee;
  padding: 0;
  margin: 0; }

h1 {
  font-size: 36px;
  line-height: 30px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 18px; }

h4 {
  font: 400 16px Lato, Arial, sans-serif;
  padding: 0;
  margin: 0; }

h5 {
  font: 400 14px Lato, sans-serif;
  color: white; }

.info {
  position: relative;
  float: left;
  clear: both;
  width: 85%;
  max-width: 1350px;
  height: auto;
  background-color: #232323;
  margin: 2px auto; }
  .info a {
    padding: 0 25px; }
  .info a:not(.whiteLink) {
    background-color: #202020; }
  .info a:not(.whiteLink):hover {
    background-color: #1b1b1b; }
    .info a:not(.whiteLink):hover > .grey {
      color: #ffbf5c; }
  .info .whiteLink {
    background-color: #eeeeee !important;
    color: #232323 !important; }
  .info .whiteLink > h2 {
    color: #232323; }
  .info .whiteLink:hover {
    background-color: #ffbf5c !important; }
  .info b {
    color: #5f5f5f !important;
    font-weight: inherit; }
  .info > div {
    float: left;
    position: relative;
    top: 0;
    left: 0;
    height: 130px; }
  .info > div:not(#userInfo) > a {
    height: 100%;
    top: 0;
    left: 0; }
  .info .info_logo {
    float: left;
    position: relative;
    top: 0;
    left: 0;
    width: 130px;
    background-position: center;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 62px; }

.info:last-of-type {
  margin-bottom: 25px; }

#accountInfo {
  margin-top: 63.4px; }
  #accountInfo > div:first-of-type > img {
    float: left;
    position: absolute;
    top: -30%;
    height: 128px;
    width: 128px;
    border-radius: 50%;
    border: 10px solid #1f1f1f;
    background-color: #1f1f1f;
    margin-left: 10px; }
  #accountInfo > div:last-of-type {
    float: right; }

#userInfo {
  display: block;
  width: auto;
  float: left !important;
  margin-left: 190px;
  max-width: calc(100% - 390px);
  min-width: 150px;
  overflow: hidden;
  padding: 0 4px 0 0 !important; }
  #userInfo > h5 {
    top: 0;
    left: 0;
    text-transform: uppercase;
    text-align: left;
    font: italic 900 80px Lato, Arial, sans-serif;
    line-height: 72px;
    color: #414141;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #686868;
    letter-spacing: 1px; }
  #userInfo > a {
    display: block;
    position: relative;
    float: right;
    right: 0 !important;
    clear: both;
    background-color: #232323;
    height: auto;
    width: auto !important;
    padding: 0 !important; }

#userOptions {
  width: 130px;
  background-color: #1f1f1f;
  cursor: pointer; }
  #userOptions > img {
    width: 60px;
    padding-top: 20px;
    padding-bottom: 8px;
    margin: 0 35px; }
  #userOptions > h3 {
    color: #404040;
    text-transform: uppercase;
    font-weight: 900 !important;
    top: 0 !important; }

#userOptions:hover {
  background-color: #1b1b1b; }
  #userOptions:hover > img {
    content: url("/Images/settings_hover.png"); }
  #userOptions:hover > h3 {
    color: #ffbf5c; }

#rank > h2:first-of-type, #rep > h2:first-of-type {
  padding-top: 5px; }

#rank {
  background-color: #1b1b1b; }
  #rank > img {
    display: block;
    position: relative;
    width: 40px;
    height: 50px;
    margin: 10px auto 2px auto; }

#rep {
  float: left;
  position: relative;
  top: 0;
  left: 0;
  width: calc(100% - $height) !important;
  height: 130px;
  padding: 0 !important;
  margin: 0; }
  #rep > h2 {
    text-align: left;
    text-indent: 20px;
    margin-bottom: 15px; }
  #rep > h3 {
    width: 100%;
    text-align: center;
    top: -10px !important; }

#rep-bar {
  position: relative;
  float: left;
  display: block;
  top: 0;
  left: 30px;
  width: 100% !important;
  height: 51px; }
  #rep-bar > div:first-of-type, #rep-bar > div:last-of-type {
    position: relative;
    width: 51px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1; }
  #rep-bar > div:first-of-type {
    float: left;
    background-image: url("/Images/rep_start.png"); }
  #rep-bar > div:last-of-type {
    float: right;
    background-image: url("/Images/rep_end.png"); }
  #rep-bar > #xp {
    position: absolute;
    width: calc(100% - 100px);
    left: 50px;
    height: 12px;
    top: 19px;
    background-color: white;
    z-index: 0; }
    #rep-bar > #xp > #xpDone {
      position: relative;
      top: 0;
      left: 0;
      height: 100%;
      background-color: #51c24b;
      width: 0; }

#credits > div:first-of-type {
  background-image: url("/Images/gcCredit.png"); }

#bets > div:first-of-type {
  background-image: url("/Images/stat_bets.png"); }

#creditStats > div:first-of-type {
  background-image: url("/Images/stat_winLoss.png"); }

#transactions > div:first-of-type {
  background-image: url("/Images/stat_transactions.png"); }

#matches > div:first-of-type {
  background-image: url("/Images/stat_matches.png"); }

