@import 'global';

$height: 130px;


button, a, h1, h2, h3, h4, h5, h6 {
    position: relative;
    display: block;
}

h1, h2, h3, h4, h5, h6 { 
    font: italic 900 40px $font;
    color: $off-white; 
    padding: 0;
    margin: 0;
}

h1 { font-size: 40px; line-height: 32px; }
h2 { font-size: 24px; }
h3 { font-size: 18px; }
h4 { font: 400 16px $font; color: $lightGrey; padding: 0; margin: 0; }
h5 { font-size: 30px; }
h6 { font-size: 36px; }
span { font: 300 14px Lato, sans-serif; }

.darkBG {
    
}

.info {
    position: relative;
    float: left;
    clear: both;
    width: 85%;
    max-width: 1350px;
    height: auto;
    background-color: #232323;
    margin: 2px auto;

    b { color: $lightGrey !important; font-weight: inherit; }

    > div {
        float: left; 
        position: relative;
        top: 0;
        left: 0;
        height: $height;

        > button, a {
            height: 100%;
            top: 0;
            left: 0;
        }
    }

    .info_logo {
        float: left;
        position: relative;
        top: 0;
        left: 0;
        width: $height;
        background-position: center;
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: 62px;
    }

    #rank {
        background-color: #1b1b1b;
    }

    #rep {
        float: left;
        position: relative;
        top: 0;
        left: 0;
        height: 100%;
    }
}

#credits {
    h4 {
        text-align: right;
    }
    > div:first-of-type {
        background-image: url("/Images/gcCredit.png");
    }
}

#bets {
    > div:first-of-type {
        background-image: url("/Images/stat_bets.png");
    }
}

#creditStats {  
    > div:first-of-type  {
        background-image: url("/Images/stat_winLoss.png");
    }
}

/*#creditStats, #transactions {
    button, a {
        background-color: $darkerGrey;
    }
}*/

#transactions {
    > div:first-of-type  {
        background-image: url("/Images/stat_transactions.png");
    }
}

#matches {
    > div:first-of-type  {
        background-image: url("/Images/stat_matches.png");
    }
}

.overlaid {
	-webkit-transform: scale(0.97);
	transform: scale(0.97);
    overflow: hidden;
}