@import 'global';

$height: 130px;
$infoBgColor: #232323;

html, body { min-height: 100%; }

button, a, h1, h2, h3, h4, h5 {
    position: relative;
    display: block;
    text-align: center;
}

h1, h2, h3, h4, h5 { 
    font: italic 900 40px $font;
    color: $off-white; 
    padding: 0;
    margin: 0;
}

h1 { font-size: 36px; line-height: 30px; }
h2 { font-size: 24px; }
h3 { font-size: 18px; }
h4 { font: 400 16px $font; padding: 0; margin: 0; }
h5 { font: 400 14px Lato, sans-serif; color: white;}

.info {
    position: relative;
    float: left;
    clear: both;
    width: 85%;
    max-width: 1350px;
    height: auto;
    background-color: $infoBgColor;
    margin: 2px auto;
    
    a { padding: 0 25px; }
    a:not(.whiteLink) { background-color: #202020; }
    a:not(.whiteLink):hover {
        background-color: #1b1b1b;
        > .grey { color: $orange; }
    }

    .whiteLink { background-color: $off-white !important; color: $infoBgColor !important; }
        .whiteLink > h2 { color: $infoBgColor; }
        .whiteLink:hover { background-color: $orange !important; }

    b { color: $lightGrey !important; font-weight: inherit; }

    > div {
        float: left; 
        position: relative;
        top: 0;
        left: 0;
        height: $height;
    }
        > div:not(#userInfo) > a { height: 100%; top: 0; left: 0; }
    

    .info_logo {
        float: left;
        position: relative;
        top: 0;
        left: 0;
        width: $height;
        background-position: center;
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: 62px;
    }
}
    .info:last-of-type { margin-bottom: 25px; }

#accountInfo {
    $imgWidth: 128px;
    margin-top: $imgWidth * 0.3 + 25px;

    > div:first-of-type > img {
        float: left;
        position: absolute;
        top: -30%;
        height: $imgWidth;
        width: $imgWidth;
        border-radius: 50%;
        border: 10px solid $darkerGrey;
        background-color: $darkerGrey;
        margin-left: 10px;
    }

    > div:last-of-type {
        float: right;
    }
}

#userInfo {
    display: block;
    width: auto;
    float: left !important;
    margin-left: 190px;
    max-width: calc(100% - 390px);
    min-width: 150px;
    overflow: hidden;
    padding: 0 4px 0 0 !important;

    > h5 {
        top: 0;
        left: 0;
        text-transform: uppercase;
        text-align: left;
        font: italic 900 80px $font;
        line-height: 72px;
        color: #414141;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #686868;
        letter-spacing: 1px;
    }
    > a {
        display: block;
        position: relative; 
        float: right;
        right: 0 !important;
        clear: both;
        background-color: $infoBgColor;
        height: auto;
        width: auto !important;
        padding: 0 !important;
    }
}

#userOptions {
    width: $height;
    background-color: $darkerGrey;
    cursor: pointer;

    > img {
        width: 60px;
        padding-top: 20px;
        padding-bottom: 8px;
        margin: 0 35px;
    }
    > h3 { 
        color: #404040; 
        text-transform: uppercase; 
        font-weight: 900 !important; 
        top: 0 !important; 
    }
}
    #userOptions:hover {
        background-color: #1b1b1b;
        > img { content:url("/Images/settings_hover.png"); }
        > h3 { color: $orange; }
    }

#rank, #rep { > h2:first-of-type { padding-top: 5px; } }

#rank { 
    background-color: #1b1b1b;

    > img { 
        display: block;
        position: relative;
        width: 40px;
        height: 50px;
        margin: 10px auto 2px auto;
    }
}

#rep {
    float: left;
    position: relative;
    top: 0;
    left: 0;
    width: calc(100% - $height) !important;
    height: $height;
    padding: 0 !important;
    margin: 0;

    > h2 { text-align: left; text-indent: 20px; margin-bottom: 15px; }
    > h3 { width: 100%; text-align: center; top: -10px !important; }
}
    #rep-bar {
        position: relative;
        float: left;
        display: block;
        top: 0;
        left: 30px;
        width: 100% !important;
        height: 51px;

        > div:first-of-type, > div:last-of-type {
            position: relative;
            width: 51px;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            z-index: 1;
        }
        > div:first-of-type {
            float: left;
            background-image: url('/Images/rep_start.png');
        }
        
        > div:last-of-type {
            float: right;
            background-image: url('/Images/rep_end.png');
        }

        > #xp {
            position: absolute;
            width: calc(100% - 100px);
            left: 50px;
            height: 12px;
            top: 19px;
            background-color: white;
            z-index: 0;

            > #xpDone {
                position: relative;
                top: 0;
                left: 0;
                height: 100%;
                background-color: $green;
                width: 0;
            }
        }
    }

#options {
    > div { 
        width: 33.3%; 
        padding: 50px 0 !important;
        height: auto;
        cursor: pointer;

        > img {
            display: block;
            position: relative;
            width: 180px;
            margin: 0 auto;
        }

        > h2 {
            margin-top: 50px;
            text-transform: uppercase;
            width: 60%;
            margin: 20px auto;
            color: $grey;
        }
    }

    > div:hover {
        background-color: #1f1f1f;
        > h2 { color: $off-white; }
    }
}

#credits > div:first-of-type        { background-image: url("/Images/gcCredit.png"); }
#bets > div:first-of-type           { background-image: url("/Images/stat_bets.png"); }
#creditStats > div:first-of-type    { background-image: url("/Images/stat_winLoss.png"); }
#transactions > div:first-of-type   { background-image: url("/Images/stat_transactions.png"); }
#matches > div:first-of-type        { background-image: url("/Images/stat_matches.png"); }

@media screen and (max-width: 1325px) {
    #rep > h2 { margin-bottom: 20px; }
    #rank > h2 { margin-bottom: 15px; }
    h1 { font-size: 28px; }
    h2 { font-size: 19px; }
    h3 { font-size: 15px; }
    h4 { font-size: 13px; }
    h5 { font-size: 12px; }
}

@media screen and (max-width: 1100px) {
    h1 { font-size: 23px; }
    h2 { font-size: 16px; }
    h3 { font-size: 14px; }
}