/* -------------------------------------------------------------------------------------------------------------------
                                                    VARIABLES
 ------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------
                                                    MIXINS
 ------------------------------------------------------------------------------------------------------------------- */
.info > div {
  float: left;
  position: relative;
  top: 0;
  left: 0;
  height: 100px; }
  .info > div > div {
    float: left;
    height: 100%; }

.info .sqr {
  width: 80px; }

.time {
  background-color: #2d2d2d; }
  .time > h3 {
    color: #626262; }

.vs {
  position: absolute !important;
  width: 50px;
  left: calc(50% + 80px - 25px) !important; }
  .vs > h1 {
    font-size: 40px;
    font-style: normal;
    color: #626262;
    display: none; }

.team > .text {
  width: calc(100% - 200px); }

.team > .img {
  display: block;
  height: 100px;
  width: 200px;
  background: no-repeat center;
  background-size: 100%; }

.team h1, .team h4 {
  text-transform: uppercase; }

.team h4 {
  line-height: 14px; }

.team h4:first-of-type {
  margin-top: 5px; }

@media screen and (max-width: 1200px) {
  .team > .img {
    display: none; }
  .team > .text {
    width: 100% !important; }
  .team1 > .text {
    padding-left: 15px; }
  .team2 > .text {
    padding-right: 15px; } }

.team1 h1, .team1 h4 {
  text-indent: 10px;
  text-align: left; }

.team1 > .img {
  float: left;
  -webkit-clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%); }

.team2 {
  float: right !important; }
  .team2 h1, .team2 h4 {
    left: -10px;
    text-align: right; }
  .team2 > .img {
    position: relative;
    float: right;
    right: 0;
    -webkit-clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%); }
  .team2 > .text {
    float: right; }

.manageBet {
  z-index: 800;
  float: right !important;
  height: 100px; }
  .manageBet > div {
    position: relative;
    background: no-repeat center;
    background-size: 25px 25px;
    cursor: pointer;
    opacity: 0.75;
    padding: 0;
    margin: 0; }
    .manageBet > div > a {
      height: 100%;
      width: 100%; }
    .manageBet > div div {
      display: none;
      position: absolute;
      top: 0 !important;
      width: auto;
      height: 100px;
      background-color: inherit; }
      .manageBet > div div > h2 {
        text-transform: uppercase;
        font-weight: 400;
        width: auto;
        height: 100px;
        line-height: 100px;
        padding-left: 20px; }
  .manageBet > .create {
    background-image: url("/Images/addBet.png");
    background-color: #51c24b; }
  .manageBet > .remove {
    background-image: url("/Images/removeBet.png");
    background-color: #963434; }
  .manageBet > .edit {
    background-image: url("/Images/editBet.png");
    background-size: 32px 25px;
    background-color: #454545; }
  .manageBet > div:hover {
    opacity: 1;
    transition: 0.1s; }
    .manageBet > div:hover > div {
      display: block; }
  .manageBet > .create:hover, .manageBet .remove:hover {
    background-size: 32px 32px; }
  .manageBet > .edit:hover {
    background-size: 41px 32px; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; }

#bet_chooseTeam {
  border-top: 4px solid #232323;
  top: -4px;
  height: 300px;
  overflow: hidden; }
  #bet_chooseTeam > div:not(.separator) {
    position: relative;
    float: left;
    display: block;
    height: 100%;
    width: 50%;
    background: no-repeat center;
    background-size: 100%;
    cursor: pointer; }
    #bet_chooseTeam > div:not(.separator) > h1 {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 880 !important;
      opacity: 0;
      color: white;
      background-color: rgba(0, 0, 0, 0.85);
      line-height: 300px;
      font-size: 60px !important; }
  #bet_chooseTeam > div:not(.separator):hover {
    background-size: 120%;
    transition: 0.5s; }
    #bet_chooseTeam > div:not(.separator):hover > h1 {
      opacity: 1; }

#bet_chooseTeam, #bet_placeBet, #getCredits {
  margin-bottom: 6px; }
  #bet_chooseTeam > .separator, #bet_placeBet > .separator, #getCredits > .separator {
    position: absolute;
    height: 100%;
    width: 4px;
    left: calc(50% - 2px);
    background-color: #1f1f1f;
    z-index: 885; }
    #bet_chooseTeam > .separator > div, #bet_placeBet > .separator > div, #getCredits > .separator > div {
      position: relative;
      height: 50px;
      width: 50px;
      background-color: #1f1f1f;
      top: calc(50% - 25px);
      left: -24px;
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }

#bet_placeBet > .separator.left {
  left: calc(40% - 2px) !important; }

#bet_placeBet > .separator.right {
  left: calc(60% - 2px) !important; }

#bet_placeBet {
  border-top: 4px solid #232323;
  top: -4px;
  height: 300px; }
  #bet_placeBet > .teamImg {
    position: relative;
    display: block;
    float: left;
    height: 100%;
    width: 40%;
    background: no-repeat center;
    background-size: 100%;
    cursor: default; }
  #bet_placeBet > form {
    float: left;
    width: 60%; }
    #bet_placeBet > form > div:not(.betSelector) > h2 {
      display: block;
      width: auto;
      float: left;
      left: 0;
      text-transform: uppercase;
      text-align: right;
      color: #626262; }
    #bet_placeBet > form > div:not(.betSelector) > h2:first-of-type {
      width: 50%;
      text-align: right;
      right: 10px; }
    #bet_placeBet > form > div:not(.betSelector) > h2:last-of-type {
      clear: right;
      margin-left: 10px; }
    #bet_placeBet > form > input, #bet_placeBet > form > a {
      position: absolute;
      float: left;
      clear: both;
      height: 80px;
      width: 60%;
      bottom: 0;
      font: italic 900 40px Lato, Arial, sans-serif;
      line-height: 80px;
      color: #626262;
      text-transform: uppercase;
      cursor: pointer;
      background-color: transparent; }
    #bet_placeBet > form > input.left, #bet_placeBet > form > a.left {
      left: 0; }
    #bet_placeBet > form > input.right, #bet_placeBet > form > a.right {
      left: 40%; }
    #bet_placeBet > form > input:hover {
      color: #1f1f1f;
      background-color: #51c24b;
      border-color: #51c24b; }
    #bet_placeBet > form > a:hover {
      color: #1f1f1f;
      background-color: #626262;
      border-color: #626262; }
  #bet_placeBet > form > div:first-of-type {
    margin-top: 25px; }

.betSelector {
  position: relative;
  float: left;
  clear: both;
  width: auto;
  margin-top: 20px; }
  .betSelector > input {
    float: left;
    height: 50px;
    width: 45%;
    border: 0;
    padding: 10px 0;
    text-indent: 20px;
    font: 400 40px Lato, Arial, sans-serif; }
  .betSelector > div {
    float: left;
    position: relative;
    width: 70px;
    height: 70px;
    cursor: pointer;
    background-position: center !important;
    background-size: 25px 14px !important;
    background-repeat: no-repeat !important;
    opacity: 0.8; }
  .betSelector > .sub {
    background: #963434 url(/Images/sortDown.png); }
  .betSelector > .add {
    background: #51c24b url(/Images/sortUp.png); }
  .betSelector > .sub:hover, .betSelector > .add:hover {
    opacity: 1;
    transition: 0.3s;
    background-size: 29px 16px !important; }
  .betSelector > .add:active {
    background-position: top !important; }
  .betSelector > .sub:active {
    background-position: bottom !important; }

#getCredits {
  margin-bottom: 25px;
  background-color: #323232; }
  #getCredits > a {
    float: left;
    width: 50%;
    background-color: #232323; }
    #getCredits > a > h1 {
      text-transform: uppercase;
      margin: 50px 0; }
  #getCredits > a:first-of-type > h1 {
    color: #f16651; }
  #getCredits > a:first-of-type:hover {
    background-color: #f16651; }
    #getCredits > a:first-of-type:hover > h1 {
      color: #232323; }
  #getCredits > a:last-of-type > h1 {
    color: #eeeeee; }
  #getCredits > a:last-of-type:hover {
    background-color: #eeeeee; }
    #getCredits > a:last-of-type:hover > h1 {
      color: #232323; }
  #getCredits > .separator {
    background-color: #232323; }
    #getCredits > .separator > div {
      top: calc(50% - 25px) !important;
      background-color: #232323; }

.info.smaller {
  width: 50% !important;
  background-color: transparent !important;
  margin: 0 !important; }
  .info.smaller > a {
    background-color: transparent !important; }
    .info.smaller > a > h2 {
      padding: 0;
      text-transform: uppercase;
      color: #686868 !important;
      margin: 15px !important; }
  .info.smaller > a:hover > h2 {
    color: white !important; }
  .info.smaller > a.active {
    background-color: #f16651 !important;
    cursor: default !important; }
    .info.smaller > a.active > h2 {
      color: white !important; }
  .info.smaller > .separator {
    background-color: transparent !important; }
    .info.smaller > .separator > div {
      background-color: #323232 !important; }

#teamBets_container {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 899; }
  #teamBets_container > #teamBets {
    position: relative;
    display: block;
    height: 75%;
    width: 100%;
    max-width: 675px;
    max-height: 715px;
    background-color: #1c1c1c; }
    #teamBets_container > #teamBets > #bets_header {
      position: relative;
      display: block;
      height: auto;
      width: 90%;
      padding: 15px 5%;
      background-color: #232323; }
      #teamBets_container > #teamBets > #bets_header > h1, #teamBets_container > #teamBets > #bets_header > h3 {
        position: relative;
        display: block;
        width: 100%;
        color: #eeeeee;
        text-align: center;
        text-transform: uppercase; }
      #teamBets_container > #teamBets > #bets_header h1 {
        font: italic 900 48px Lato, Arial, sans-serif;
        margin-bottom: 10px; }
      #teamBets_container > #teamBets > #bets_header h3 {
        font: italic 900 22px Lato, Arial, sans-serif;
        margin-top: 5px; }
      #teamBets_container > #teamBets > #bets_header > #teamBets_close {
        position: absolute;
        display: block;
        top: 0;
        width: 70px;
        height: 70px;
        right: 0 !important;
        background: no-repeat center url("/Images/close_grey.png");
        background-size: 23px;
        cursor: pointer;
        z-index: 90; }
      #teamBets_container > #teamBets > #bets_header > #teamBets_close:hover {
        background-image: url("/Images/close_menuColor.png"); }
    #teamBets_container > #teamBets > #bets_users {
      display: block;
      position: relative;
      width: 80%;
      height: auto;
      overflow-y: auto;
      overflow-x: hidden;
      padding: 0 10%; }
      #teamBets_container > #teamBets > #bets_users > form > .user {
        float: left;
        display: block;
        width: 100%;
        cursor: pointer; }
        #teamBets_container > #teamBets > #bets_users > form > .user > img {
          float: left;
          display: block;
          position: relative;
          width: 70px;
          height: 70px;
          border-radius: 50%;
          border: 5px solid rgba(255, 255, 255, 0.3);
          margin: 15px 0; }
        #teamBets_container > #teamBets > #bets_users > form > .user > .link {
          float: left;
          position: relative;
          display: block;
          height: 24px;
          width: 24px;
          background: no-repeat center url("/Images/ext_link.png");
          background-size: 26px;
          display: none; }
        #teamBets_container > #teamBets > #bets_users > form > .user > h2 {
          float: left;
          position: relative;
          display: block;
          font: italic 900 30px Lato, Arial, sans-serif;
          color: #626262;
          margin: 0 15px 0 25px;
          max-width: calc(100% - 154px);
          white-space: nowrap;
          text-transform: uppercase;
          overflow: hidden; }
      #teamBets_container > #teamBets > #bets_users > form > .user:hover > h2 {
        color: #eeeeee; }
      #teamBets_container > #teamBets > #bets_users > form > .user:hover > .link {
        display: block; }

@media screen and (max-height: 800px) {
  #teamBets {
    height: 100% !important; } }

.day {
  background-color: transparent;
  padding: 25px 0 10px; }
  .day > h2 {
    color: #f16651;
    text-transform: uppercase; }

#showNextDay {
  float: right;
  width: auto;
  background-color: transparent;
  margin: 10px 0;
  padding: 30px 30px;
  cursor: pointer; }
  #showNextDay > h2 {
    float: left;
    text-transform: uppercase; }
  #showNextDay > div {
    float: left;
    display: block;
    position: relative;
    height: 26px;
    width: 16px;
    background: no-repeat center url("/Images/plus.png");
    background-size: 16px;
    margin: 0 10px;
    opacity: 0; }

#showNextDay:hover {
  background-color: #232323; }
  #showNextDay:hover > h2 {
    color: #f16651;
    text-transform: uppercase; }
  #showNextDay:hover > div {
    opacity: 1; }

