@import 'global';

$height: 100px;

.info {
    > div {
        float: left; 
        position: relative;
        top: 0;
        left: 0;
        height: $height;

        > div {
            float: left;
            height: 100%;
        }
    }

    .sqr { width: 80px; }
}

.time {
    background-color: $darkGrey2;
    > h3 { color: $grey; }
}

.vs {
    position: absolute;
    > h1 { font-size: 50px; font-style: normal; }
}
.team {
    > .text {
        width: calc(100% - 200px);
    }
    > .img {
	    display: block;
        height: $height;
        width: 200px;
        background: no-repeat center;

    }
    h1, h3 { text-transform: uppercase; }
}

.team1 {
    h1, h3 { text-indent: 10px; text-align: left; }
    > .img {
        float: left;
        -webkit-clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
    }
}

.team2 {
    h1, h3 { left: -10px; text-align: right; }
    > .img {
        position: relative;
        float: right;
        right: 0;
        -webkit-clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
    }
}

.manageBet {
    height: $height;

    > div {
        position: relative;
        background: no-repeat center;
        background-size: 25px 25px;
        cursor: pointer;
        opacity: 0.75;
        padding: 0;
        margin: 0;

        > div {
            display: none;
            position: relative;
            top: 0 !important;
            width: 100px;
            left: -100px;
            height: $height;
            background-color: inherit;

           > h2 {
               text-transform: uppercase;
               font-weight: 400;
               height: $height;
               line-height: $height;
               padding-left: 20px;
           }
        }
    }

    > .create { background-image: url("/Images/addBet.png"); background-color: $green; }
    > .remove { background-image: url("/Images/removeBet.png"); background-color: $red; }
    > .edit { 
        background-image: url("/Images/editBet.png"); 
        background-size: 32px 25px; 
        background-color: #454545; 
    }

    > div:hover {opacity: 1; transition: 0.1s; > div { display: block; } }
    > .create:hover, .remove:hover { background-size: 32px 32px; }
    > .edit:hover { background-size: 41px 32px; }
}