/* -------------------------------------------------------------------------------------------------------------------
                                                    GENERAL ATTRIBUTES
 ------------------------------------------------------------------------------------------------------------------- */
html, body {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: auto;
  background-color: #323232;
  overflow-x: hidden; }

textarea, input, button {
  outline: none;
  border: none; }

button {
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent; }

a {
  text-decoration: none;
  cursor: pointer; }

ul {
  list-style-type: none; }

img {
  border: 0; }

.show {
  visibility: visible;
  opacity: 1; }

.hide {
  visibility: hidden;
  opacity: 0; }

.grey, grey {
  color: #626262 !important; }

.green, green {
  color: #51c24b; }

.red, red {
  color: #963434; }

.white, white {
  color: white; }

.orange, orange {
  color: #ffbf5c; }

.offw, offw {
  color: #eeeeee; }

#header {
  background-color: #323232; }
  #header h6 {
    font: italic 900 60px Lato, Arial, sans-serif;
    color: #eeeeee;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    margin: 90px 0 70px 0; }

#error_overlay, #js_error {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  background-color: #141414;
  z-index: 9999; }
  #error_overlay > div, #js_error > div {
    position: relative;
    width: 50%;
    margin: 40px 25%; }
    #error_overlay > div .overlay_image, #error_overlay > div > #error_overlay_image, #error_overlay > div > #success_overlay_image, #js_error > div .overlay_image, #js_error > div > #error_overlay_image, #js_error > div > #success_overlay_image {
      display: block;
      position: relative;
      width: 220px;
      height: 220px;
      margin-left: calc(50% - 220px / 2);
      border-radius: 50%; }
    #error_overlay > div > #error_overlay_image, #js_error > div > #error_overlay_image {
      background: #963434 no-repeat center/55% url("/Images/close.png"); }
    #error_overlay > div > #success_overlay_image, #js_error > div > #success_overlay_image {
      background: #51c24b no-repeat center/55% url("/Images/check.png"); }
    #error_overlay > div > h1, #error_overlay > div > a, #error_overlay > div > button, #js_error > div > h1, #js_error > div > a, #js_error > div > button {
      display: block !important;
      text-align: center;
      font: italic 400 36px Lato, Arial, sans-serif; }
    #error_overlay > div > h1, #js_error > div > h1 {
      color: #eeeeee;
      width: 80% !important;
      margin-left: 10%; }
    #error_overlay > div > a, #error_overlay > div > button, #js_error > div > a, #js_error > div > button {
      width: 60% !important;
      margin-left: 20%;
      margin-top: 50px !important;
      position: relative;
      color: #626262;
      border: 1px solid #323232;
      padding: 15px 0; }
    #error_overlay > div > a:hover, #error_overlay > div > button:hover, #js_error > div > a:hover, #js_error > div > button:hover {
      color: #eeeeee;
      border-color: #eeeeee; }

@media screen and (max-width: 1200px) {
  #error_overlay > div {
    width: 75%;
    margin: 40px 12.5%; }
    #error_overlay > div > h1, #error_overlay > div > a {
      font-size: 30px !important; } }

@media screen and (max-width: 600px) {
  #error_overlay > div {
    margin-top: 80px !important;
    width: 100%;
    margin: 20px 0; }
    #error_overlay > div > h1, #error_overlay > div > a, #error_overlay > div > button {
      font-size: 20px !important; }
    #error_overlay > div > a, #error_overlay > div > button {
      margin-top: 20px !important; }
    #error_overlay > div > div {
      width: 120px !important;
      height: 120px !important;
      margin-left: calc(50% - 120px /2) !important; } }

.info button, .info a, .info h1, .info h2, .info h3, .info h4, .info h5, .h button, .h a, .h h1, .h h2, .h h3, .h h4, .h h5 {
  position: relative;
  display: block;
  text-align: center; }

.info h1, .info h2, .info h3, .info h4, .info h5, .h h1, .h h2, .h h3, .h h4, .h h5 {
  font: italic 900 40px Lato, Arial, sans-serif;
  color: #eeeeee;
  padding: 0;
  margin: 0; }

.info h1, .h h1 {
  font-size: 36px;
  line-height: 30px; }

.info h2, .h h2 {
  font-size: 24px; }

.info h3, .h h3 {
  font-size: 18px; }

.info h4, .h h4 {
  font: 400 16px Lato, Arial, sans-serif;
  padding: 0;
  margin: 0; }

.info h5, .h h5 {
  font: 400 14px Lato, sans-serif;
  color: white; }

.info {
  position: relative;
  float: left;
  clear: both;
  width: 85%;
  max-width: 1350px;
  height: auto;
  background-color: #232323;
  margin: 2px auto; }

@media screen and (max-width: 1325px) {
  .info #rep > h2 {
    margin-bottom: 20px; }
  .info #rank > h2 {
    margin-bottom: 15px; }
  .info h1 {
    font-size: 28px; }
  .info h2 {
    font-size: 19px; }
  .info h3 {
    font-size: 15px; }
  .info h4 {
    font-size: 13px; }
  .info h5 {
    font-size: 12px; } }

@media screen and (max-width: 1100px) {
  .info h1 {
    font-size: 23px; }
  .info h2 {
    font-size: 16px; }
  .info h3 {
    font-size: 14px; } }

.info > div {
  float: left;
  position: relative;
  top: 0;
  left: 0;
  height: 100px; }
  .info > div > div {
    float: left;
    height: 100%; }

.info .sqr {
  width: 80px; }

.time {
  background-color: #2d2d2d; }
  .time > h3 {
    color: #626262; }

.vs {
  position: absolute; }
  .vs > h1 {
    font-size: 50px;
    font-style: normal; }

.team > .text {
  width: calc(100% - 200px); }

.team > .img {
  display: block;
  height: 100px;
  width: 200px;
  background: no-repeat center;
  background-size: 100%; }

.team h1, .team h4 {
  text-transform: uppercase; }

.team h4 {
  line-height: 14px; }

.team h4:first-of-type {
  margin-top: 5px; }

.team1 h1, .team1 h4 {
  text-indent: 10px;
  text-align: left; }

.team1 > .img {
  float: left;
  -webkit-clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%); }

.team2 h1, .team2 h4 {
  left: -10px;
  text-align: right; }

.team2 > .img {
  position: relative;
  float: right;
  right: 0;
  -webkit-clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%); }

.manageBet {
  height: 100px; }
  .manageBet > div {
    position: relative;
    background: no-repeat center;
    background-size: 25px 25px;
    cursor: pointer;
    opacity: 0.75;
    padding: 0;
    margin: 0; }
    .manageBet > div > a {
      height: 100%;
      width: 100%; }
    .manageBet > div div {
      display: none;
      position: absolute;
      top: 0 !important;
      width: auto;
      height: 100px;
      background-color: inherit; }
      .manageBet > div div > h2 {
        text-transform: uppercase;
        font-weight: 400;
        width: auto;
        height: 100px;
        line-height: 100px;
        padding-left: 20px; }
  .manageBet > .create {
    background-image: url("/Images/addBet.png");
    background-color: #51c24b; }
  .manageBet > .remove {
    background-image: url("/Images/removeBet.png");
    background-color: #963434; }
  .manageBet > .edit {
    background-image: url("/Images/editBet.png");
    background-size: 32px 25px;
    background-color: #454545; }
  .manageBet > div:hover {
    opacity: 1;
    transition: 0.1s; }
    .manageBet > div:hover > div {
      display: block; }
  .manageBet > .create:hover, .manageBet .remove:hover {
    background-size: 32px 32px; }
  .manageBet > .edit:hover {
    background-size: 41px 32px; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; }

#bet_chooseTeam {
  border-top: 4px solid #232323;
  top: -4px;
  height: 300px; }
  #bet_chooseTeam > div:not(.separator) {
    position: relative;
    float: left;
    display: block;
    height: 100%;
    width: 50%;
    background: no-repeat center;
    background-size: 100%;
    cursor: pointer; }
    #bet_chooseTeam > div:not(.separator) > h1 {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 995 !important;
      opacity: 0;
      color: white;
      background-color: rgba(0, 0, 0, 0.85);
      line-height: 300px;
      font-size: 60px !important; }
  #bet_chooseTeam > div:not(.separator):hover {
    background-size: 120%;
    transition: 0.5s; }
    #bet_chooseTeam > div:not(.separator):hover > h1 {
      opacity: 1; }

#bet_chooseTeam, #bet_placeBet, #getCredits {
  margin-bottom: 6px; }
  #bet_chooseTeam > .separator, #bet_placeBet > .separator, #getCredits > .separator {
    position: absolute;
    height: 100%;
    width: 4px;
    left: calc(50% - 2px);
    background-color: #1f1f1f;
    z-index: 999; }
    #bet_chooseTeam > .separator > div, #bet_placeBet > .separator > div, #getCredits > .separator > div {
      position: relative;
      height: 50px;
      width: 50px;
      background-color: #1f1f1f;
      left: -24px;
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }

#bet_placeBet > .separator.left {
  left: calc(40% - 2px) !important; }

#bet_placeBet > .separator.right {
  left: calc(60% - 2px) !important; }

#bet_placeBet {
  border-top: 4px solid #232323;
  top: -4px;
  height: 300px; }
  #bet_placeBet > .teamImg {
    position: relative;
    display: block;
    float: left;
    height: 100%;
    width: 40%;
    background: no-repeat center;
    background-size: 100%;
    cursor: default; }
  #bet_placeBet > form {
    float: left;
    width: 60%; }
    #bet_placeBet > form > div:not(.betSelector) > h2 {
      display: block;
      width: auto;
      float: left;
      left: 0;
      text-transform: uppercase;
      text-align: right;
      color: #626262; }
    #bet_placeBet > form > div:not(.betSelector) > h2:first-of-type {
      width: 50%;
      text-align: right;
      right: 10px; }
    #bet_placeBet > form > div:not(.betSelector) > h2:last-of-type {
      clear: right;
      margin-left: 10px; }
    #bet_placeBet > form > input, #bet_placeBet > form > a {
      position: absolute;
      float: left;
      clear: both;
      height: 80px;
      width: 60%;
      bottom: 0;
      font: italic 900 40px Lato, Arial, sans-serif;
      line-height: 80px;
      color: #626262;
      text-transform: uppercase;
      cursor: pointer;
      background-color: transparent; }
    #bet_placeBet > form > input.left, #bet_placeBet > form > a.left {
      left: 0; }
    #bet_placeBet > form > input.right, #bet_placeBet > form > a.right {
      left: 40%; }
    #bet_placeBet > form > input:hover {
      color: #1f1f1f;
      background-color: #51c24b;
      border-color: #51c24b; }
    #bet_placeBet > form > a:hover {
      color: #1f1f1f;
      background-color: #626262;
      border-color: #626262; }
  #bet_placeBet > form > div:first-of-type {
    margin-top: 25px; }

.betSelector {
  position: relative;
  float: left;
  clear: both;
  width: auto;
  margin-top: 20px; }
  .betSelector > input {
    float: left;
    height: 50px;
    width: 45%;
    border: 0;
    padding: 10px 0;
    text-indent: 20px;
    font: 400 40px Lato, Arial, sans-serif; }
  .betSelector > div {
    float: left;
    position: relative;
    width: 70px;
    height: 70px;
    cursor: pointer;
    background-position: center !important;
    background-size: 25px 14px !important;
    background-repeat: no-repeat !important;
    opacity: 0.8; }
  .betSelector > .sub {
    background: #963434 url(/Images/sortDown.png); }
  .betSelector > .add {
    background: #51c24b url(/Images/sortUp.png); }
  .betSelector > .sub:hover, .betSelector > .add:hover {
    opacity: 1;
    transition: 0.3s;
    background-size: 29px 16px !important; }
  .betSelector > .add:active {
    background-position: top !important; }
  .betSelector > .sub:active {
    background-position: bottom !important; }

#getCredits {
  margin-bottom: 25px;
  background-color: #323232; }
  #getCredits > a {
    float: left;
    width: 50%;
    background-color: #232323; }
    #getCredits > a > h1 {
      text-transform: uppercase;
      margin: 50px 0; }
  #getCredits > a:first-of-type > h1 {
    color: #f16651; }
  #getCredits > a:first-of-type:hover {
    background-color: #f16651; }
    #getCredits > a:first-of-type:hover > h1 {
      color: #232323; }
  #getCredits > a:last-of-type > h1 {
    color: #eeeeee; }
  #getCredits > a:last-of-type:hover {
    background-color: #eeeeee; }
    #getCredits > a:last-of-type:hover > h1 {
      color: #232323; }
  #getCredits > .separator {
    background-color: #232323; }
    #getCredits > .separator > div {
      top: calc(50% - 25px) !important;
      background-color: #232323; }

