@import 'global';

$height: 100px;

.info {
    > div {
        float: left; 
        position: relative;
        top: 0;
        left: 0;
        height: $height;

        > div {
            float: left;
            height: 100%;
        }
    }

    .sqr { width: 80px; }
}

.time {
    background-color: $darkGrey2;
    > h3 { color: $grey; }
}

.vs {
    position: absolute;
    > h1 { font-size: 50px; font-style: normal; }
}
.team {
    > .text {
        width: calc(100% - 200px);
    }
    > .img {
	    display: block;
        height: $height;
        width: 200px;
        background: no-repeat center;
        background-size: 100%;
    }
    h1, h4 { text-transform: uppercase; }
    h4 { line-height: 14px; }
    h4:first-of-type { margin-top: 5px; }
}

.team1 {
    h1, h4 { text-indent: 10px; text-align: left; }
    > .img {
        float: left;
        -webkit-clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
    }
}

.team2 {
    h1, h4 { left: -10px; text-align: right; }
    > .img {
        position: relative;
        float: right;
        right: 0;
        -webkit-clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
    }
}

.manageBet {
    height: $height;

    > div {
        position: relative;
        background: no-repeat center;
        background-size: 25px 25px;
        cursor: pointer;
        opacity: 0.75;
        padding: 0;
        margin: 0;

        > div {
            display: none;
            position: absolute;
            top: 0 !important;
            width: auto;
            height: $height;
            background-color: inherit;

           > h2 {
               text-transform: uppercase;
               font-weight: 400;
               width: auto;
               height: $height;
               line-height: $height;
               padding-left: 20px;
           }
        }
    }

    > .create { background-image: url("/Images/addBet.png"); background-color: $green; }
    > .remove { background-image: url("/Images/removeBet.png"); background-color: $red; }
    > .edit { 
        background-image: url("/Images/editBet.png"); 
        background-size: 32px 25px; 
        background-color: #454545; 
    }

    > div:hover {opacity: 1; transition: 0.1s; > div { display: block; } }
    > .create:hover, .remove:hover { background-size: 32px 32px; }
    > .edit:hover { background-size: 41px 32px; }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

$betH: 300px;
#bet_chooseTeam {
    border-top: 4px solid $infoBgColor;
    top: -4px;
    height: $betH;

    > div:not(.separator) {
        position: relative;
        float: left;
        display: block;
        height: 100%;
        width: 50%;
        background: no-repeat center;
        background-size: 100%;
        cursor: pointer;

        > h1 {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 995 !important;
            opacity: 0;
            color: white;
            background-color: rgba(0,0,0,0.85);
            line-height: $betH;
            font-size: 60px !important;
        }
    }
        > div:not(.separator):hover {
            background-size: 120%;
            transition: 0.5s;

            > h1 { opacity: 1; }
        }

    
}

#bet_chooseTeam, #bet_placeBet, #getCredits {
    margin-bottom: 6px;
    > .separator {
            position: absolute;
            height: 100%;
            width: 4px;
            left: calc(50% - 2px);
            background-color: $darkerGrey;
            z-index: 999;

        > div {
            $boxH: 50px;
            position: relative;
            height: $boxH;
            width: $boxH;
            background-color: $darkerGrey;
            left: -($boxH / 2 - 1px);
            @include rotate(45deg);
        }
    }
}
    #bet_placeBet > .separator.left { left: calc(40% - 2px) !important; }
    #bet_placeBet > .separator.right { left: calc(60% - 2px) !important; }

#bet_placeBet {
    border-top: 4px solid $infoBgColor;
    top: -4px;
    height: $betH;
    
    > .teamImg {
        position: relative;
        display: block;
        float: left;
        height: 100%;
        width: 40%;
        background: no-repeat center;
        background-size: 100%;
        cursor: default;
    }

    > form {
        float: left;
        width: 60%;

        > div:not(.betSelector) {
            > h2 {
                display: block;
                width: auto;
                float: left;
                left: 0;
                text-transform: uppercase;
                text-align: right;
                color: $grey;
            }
            > h2:first-of-type {
                width: 50%;
                text-align: right;
                right: 10px;
            }
            > h2:last-of-type {
                clear: right;
                margin-left: 10px;
            }
        }

        > input, > a {
            position: absolute;
            float: left;
            clear: both;
            height: 80px;
            width: 60%;
            bottom: 0;
            font: italic 900 40px $font;
            line-height: 80px;
            color: $grey;
            text-transform: uppercase;
            cursor: pointer;
            background-color: transparent;
        }
            > input.left, > a.left { left: 0; }
            > input.right, > a.right { left: 40%; }

            > input:hover {
                color: $darkerGrey;
                background-color: $green;
                border-color: $green;
            }
            > a:hover {
                color: $darkerGrey;
                background-color: $grey;
                border-color: $grey;
            }
    }

    > form > div:first-of-type { margin-top: 25px; }
}
    .betSelector {
        position: relative;
        float: left;
        clear: both;
        width: auto;
        margin-top: 20px;

        > input {
            float: left;
            height: 50px;
            width: 45%;
            border: 0;
            padding: 10px 0;
            text-indent: 20px;
            font: 400 40px $font;
        }

        > div {
            float: left;
            position: relative;
            width: 70px;
            height: 70px;
            cursor: pointer;
            background-position: center !important;
            background-size: 25px 14px !important; 
            background-repeat: no-repeat !important;
            opacity: 0.8;
        }
            > .sub {
                background: $red url(/Images/sortDown.png);
            }
            > .add {
                background: $green url(/Images/sortUp.png);
            }

            > .sub:hover, > .add:hover { opacity: 1; transition: 0.3s; background-size: 29px 16px !important; }
            > .add:active { background-position:  top !important; }
            > .sub:active { background-position: bottom !important; }
    }

    #getCredits {
        margin-bottom: 25px;
        background-color: $darkGrey;

        > a {
            float: left;
            width: 50%;
            background-color: $infoBgColor;

            > h1 { text-transform: uppercase; margin: 50px 0; }
        }

        > a:first-of-type   { > h1 { color: $menuColor; } }
            > a:first-of-type:hover   { background-color: $menuColor; > h1 { color: $infoBgColor; } }
        > a:last-of-type    { > h1 { color: $off-white; } }
            > a:last-of-type:hover    { background-color: $off-white; > h1 { color: $infoBgColor; }  }

        > .separator { 
            background-color: $infoBgColor; 
            > div { 
                top: calc(50% - 25px) !important;
                background-color: $infoBgColor; 
            } 
        }
    }