/* -------------------------------------------------------------------------------------------------------------------
                                                    VARIABLES
 ------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------
                                                    MIXINS
 ------------------------------------------------------------------------------------------------------------------- */
#header > h6 {
  margin-top: 70px !important;
  margin-bottom: 0 !important; }

#header > h4 {
  font: 400 20px Lato, Arial, sans-serif;
  color: #eeeeee;
  margin-bottom: 50px;
  margin-top: 0;
  width: 100%;
  text-align: center; }

