@import 'global';

#header {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 280px;
    width: 100%;

    > div {
        position: relative;
        width: 50%;
        height: 100%;
    }
}

#sub {
    background: $menuColor url("/Images/sub_bg.png") no-repeat left center;
    float: left;
    $marginLeft: 65px;

    > h1 {
        margin-bottom: 0;
        margin-left: $marginLeft;
        font: italic 900 50px $font;
        color: white;
        text-transform: uppercase;
    }
    > h2 {
        margin-left: $marginLeft;
            
        max-width: 60%;
        font: 300 16px $font;
        color: white;

        > a {
            text-decoration: underline;
            color: white;
        }
        > a:hover { color: $off-white; }
    }

    $aColor: #9a483b;
    $aBGColor: #f67763;
    $aBorderColor: #cf513f;

    > a {
        display: block;
        position: relative;
        width: 290px;
        height: auto;
        background-color: $aBGColor;
        color: $aColor;
        border: 1px solid $aBorderColor;
        margin: 28px auto;
        font: italic 900 30px $font;
        padding: 16px 0;
        text-align: center;
        text-transform: uppercase;
    }
    > a:hover {
        border-color: $aColor;
        @include box-shadow(1px 1px 14px -4px);
    }

    > a:active {
        @include box-shadow(inset 0px 0px 8px 1px rgba(0,0,0,0.67));
    }
}

#login {
    background: $off-white url("/Images/login_bg.png") no-repeat right center;
    float: right;

    > form {
        height: 100%;
        width: 100%;

        > div {
            width: 50%;
            height: 100%;
        }

        > .left {
            float: left;

            > div {
                position: relative;
                margin: 0 106px 0 16%;

                $fontSize: 24px;
                > label {
                    display: block;
                    float: left;
                    clear: both;
                    font: italic 900 $fontSize $font;
                    margin: 24px 0 5px 0;
                    text-transform: uppercase;
                    color: $darkGrey;
                }
                > .type {
                    float: left;
                    clear: both;
                    font: 400 $fontSize $font;
                    width: 325px;
                    height: 60px;
                    border: 1px solid #b9b9b9;
                    text-indent: 15px;
                }
            }
        }
        > .right {
            float: right;
        }
    }
}

#signIn_cont {
    position: relative;
    display: block;
    width: 330px !important;
    height: 225px !important;
    margin: 0 auto;

    > p {
        position: absolute;
    }

}
    #signIn_rect {
        position: absolute;
        top: 65px;
        width: 330px;
        height: 95px;
        margin: auto 0;
        font: italic 900 32px $font;
        text-transform: uppercase;
        color: $darkGrey;
        cursor: pointer;
        background-color: rgba(217,217,217, 1);
        z-index: 999;
    }

#signIn_border {
    position: absolute;
    left: -1px;
    top: 64px;
    width: 332px;
    height: 97px;
}

#signIn_border:before, #signIn_border:after, #signIn_border > :last-child:before, #signIn_border > :last-child:after {
    position: absolute;
    width: 83px; 
    height: 48px;
    border-color: #a8a8a8;
    border-style: solid;
    content: ' ';
}
    #signIn_border:before {top:0; left:0; border-width: 1px 0 0 1px;}
    #signIn_border:after {top:0; right:0; border-width: 1px 1px 0 0;}
    #signIn_border > :last-child:before {bottom:0; right:0; border-width: 0 1px 1px 0; }
    #signIn_border > :last-child:after {bottom:0; left:0; border-width: 0 0 1px 1px; }

    #signIn_circle {
        position: relative;
        height: 225px;
        width: 225px;
        shape-outside: circle(50%);
        border-radius: 50%;
        margin: 0 auto !important;
        background-color: rgba(217,217,217, 0.4);
        border: 1px solid rgba(167,167,167,0.4);

        > input {
            display: block;
            position: relative;
            top: 17px;
            width: 190px;
            height: 190px;
            shape-outside: circle(50%);
            border-radius: 50%;
            margin: 0 auto !important;
            background-color: #d9d9d9;
            border: 1px solid #a8a8a8;
            padding: 0;
            cursor: pointer;
        }
    }
    
#canvas {
    position: absolute;
    top: -2px;
    left: -2px;
    width: 101%;
    height: 101%;
    opacity: 0.9;
}

#main {
    position: relative;
    width: 100%;
    height: 680px;
}

#video {
    position: relative;
    float: left;
    width: 60%;
    height: 100%;

    > iframe {
        width: 100%;
        height: 100%;
        border: 0;
    }
}

.side {
    position: relative;
    width: 20%;
    height: auto;
    float: left;

    > img {
        position: relative;
        width: 50%;
        max-width: 155px;
        height: auto;
    }
    > h1, > h2, > h3, > .roles > span {
        display: block;
        position: relative;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
    }
        > h1 {
            font: italic 900 60px $font;
            color: white;
            margin-bottom: 10px;
        }
        > h2 {
            font: 900 46px $font;
            margin: 0 auto;
            color: #4c4c4c;

            > img { position: relative; height: 24px; }
        }
}

.team {
    position: relative;
    width: 100%;
    height: auto;
    font: italic 900 $font;

    > div {
        position: relative;
        float: left;
        width: 50%;
        text-indent: 10px;
        padding-top: 10%;

        > span {
            display: block;
            float: left;
            clear: both;
            font: italic 900 24px $font;
            text-transform: uppercase;
            width: 100%;
        }
    }
    .names > span {
        color: white;
        text-align: right !important;
    }
    .roles > span{
        color: #4c4c4c;
        text-align: left;
    }
}

@media screen and (max-width: 1600px) {
    #signIn_circle { display: none; }
    #signIn_border:before, #signIn_border:after, #signIn_border > :last-child:before, #signIn_border > :last-child:after {
        width: 100%;
        transition: width 1s;
    }
}

@media screen and (max-width: 1520px) {
    .side { float: right; width: 50%; padding: 5% 0; }
    #video { width: 100%; }
}

@media screen and (max-width: 650px) {
    .side { width: 100%; }
    .ct:before {
      content : "";
      position: absolute;
      left    : 20%;
      bottom  : 0;
      height  : 1px;
      width   : 60%;  /* or 100px */
      border-bottom: 2px solid #4c4c4c;
    }
    .ct { padding-bottom: 7%; }
    .t { padding-top: 7%; }
}

@media screen and (max-height: 900px) and (min-width: 1520px) {
    .team { display: none; }
}
@media screen and (max-height: 675px) and (min-width: 1520px) {
    .side > img { width: 30%; }
    .side > h1 { margin-top: 10px; }
}
@media screen and (max-height: 570px) and (min-width: 1520px) {
    .side > img { display: none; }
    .side > h1 { margin-top: 0; }
}
@media screen and (max-height: 440px) and (min-width: 1520px) {
    .side { opacity: 0; height: 1px; }
}