@import '_global.scss';

body { overflow: hidden; }
#header {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 280px;
    width: 100%;

    > div {
        position: relative;
        width: 50%;
        height: 100%;
    }
}

#sub {
    background: $menuColor url("/Images/sub_bg.png") no-repeat left center;
    float: left;
    $marginLeft: 65px;

    > h1 {
        margin-bottom: 0;
        margin-left: $marginLeft;
        font: italic 900 50px $font;
        color: white;
        text-transform: uppercase;
    }
    > h2 {
        margin-left: $marginLeft;
            
        max-width: 60%;
        font: 300 16px $font;
        color: white;

        > a {
            text-decoration: underline;
            color: white;
        }
        > a:hover { color: $off-white; }
    }

    $aColor: #9a483b;
    $aBGColor: #f67763;
    $aBorderColor: #cf513f;

    > a {
        display: block;
        position: relative;
        width: 290px;
        height: auto;
        background-color: $aBGColor;
        color: $aColor;
        border: 1px solid $aBorderColor;
        margin: 28px auto;
        font: italic 900 30px $font;
        padding: 16px 0;
        text-align: center;
        text-transform: uppercase;
        z-index: 999;
    }
    > a:hover {
        border-color: $aColor;
        @include box-shadow(1px 1px 14px -4px);
        transition: 0.15s;
    }
}

#login {
    background: $off-white url("/Images/login_bg.png") no-repeat right center;
    float: right;

    > form {
        height: 100%;
        width: 100%;

        > div {
            width: 50%;
            height: 100%;
        }

        > .left {
            float: left;

            > div {
                position: relative;
                margin: 0 106px 0 16%;
                z-index: 999;

                $fontSize: 24px;
                > label {
                    display: block;
                    float: left;
                    clear: both;
                    font: italic 900 $fontSize $font;
                    margin: 24px 0 5px 0;
                    text-transform: uppercase;
                    color: $darkGrey;
                }
                > .type {
                    float: left;
                    clear: both;
                    font: 400 $fontSize $font;
                    width: 325px;
                    height: 60px;
                    border: 1px solid #b9b9b9;
                    text-indent: 15px;
                }

                > span {
                    position: relative;
                    float: left;
                    color: $red;
                    height: 0 !important;
                    font: 400 14px $font;
                    width: 100%;
                    margin-top: 3px;
                    text-indent: 5px;
                }

                @media screen and (max-width: 1600px) { > span { margin-top: 0; font-size: 12px; top: -15px; text-indent: 15px; } }
            }
        }
        > .right {
            float: right;
        }
    }
}

#signIn_cont {
    position: relative;
    display: block;
    width: 330px;
    height: 225px;
    margin: 0 auto;

    > p {
        position: absolute;
    }

}
    #signIn_rect {
        position: absolute;
        top: 65px;
        width: 330px;
        height: 95px;
        margin: auto 0;
        font: italic 900 32px $font;
        text-transform: uppercase;
        color: $darkGrey;
        cursor: pointer;
        background-color: rgba(217,217,217, 1);
        z-index: 999;
    }

#signIn_border {
    position: absolute;
    left: -1px;
    top: 64px;
    width: 332px;
    height: 97px;
}
    #signIn_border:before, #signIn_border:after, #signIn_border > :last-child:before, #signIn_border > :last-child:after {
        position: absolute;
        width: 83px; 
        height: 48px;
        border-color: #a8a8a8;
        border-style: solid;
        content: ' ';
    }
        #signIn_border:before {top:0; left:0; border-width: 1px 0 0 1px;}
        #signIn_border:after {top:0; right:0; border-width: 1px 1px 0 0;}
        #signIn_border > :last-child:before {bottom:0; right:0; border-width: 0 1px 1px 0; }
        #signIn_border > :last-child:after {bottom:0; left:0; border-width: 0 0 1px 1px; }

    #signIn_circle {
        position: relative;
        height: 225px;
        width: 225px;
        shape-outside: circle(50%);
        border-radius: 50%;
        margin: 0 auto !important;
        background-color: rgba(217,217,217, 0.4);
        border: 1px solid rgba(167,167,167,0.4);

        > input {
            display: block;
            position: relative;
            top: 17px;
            width: 190px;
            height: 190px;
            shape-outside: circle(50%);
            border-radius: 50%;
            margin: 0 auto !important;
            background-color: #d9d9d9;
            border: 1px solid #a8a8a8;
            padding: 0;
            cursor: pointer;
        }
    }
    
#canvas {
    position: absolute;
    top: -2px;
    left: -2px;
    width: 101%;
    height: 101%;
    opacity: 0.9;
}

#main {
    position: relative;
    width: 100%;
    height: 680px;
}

#video {
    position: relative;
    float: left;
    width: 60%;
    height: 100%;

    > iframe {
        width: 100%;
        height: 100%;
        border: 0;
    }
}

.side {
    position: relative;
    width: 20%;
    height: auto;
    float: left;

    > img {
        position: relative;
        width: 50%;
        max-width: 155px;
        height: auto;
    }
    > h1, > h2, > h3, > .roles > span {
        display: block;
        position: relative;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
    }
        > h1 {
            font: italic 900 60px $font;
            color: white;
            margin-bottom: 10px;
        }
        > h2 {
            font: 900 46px $font;
            margin: 0 auto;
            color: #4c4c4c;

            > img { position: relative; margin-left: 5px; margin-right: 10px; height: 24px; top: 2px; }
        }
}

.team {
    position: relative;
    width: 100%;
    height: auto;
    font: italic 900 $font;

    > div {
        position: relative;
        float: left;
        width: 50%;
        text-indent: 10px;
        padding-top: 10%;

        > span {
            display: block;
            float: left;
            clear: both;
            font: italic 900 24px $font;
            text-transform: uppercase;
            width: 100%;
        }
    }
    .names > span {
        color: white;
        text-align: right !important;
    }
    .roles > span{
        color: #4c4c4c;
        text-align: left;
    }
}

#popOut_login {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: rgba(0,0,0,0.6);
    z-index: 9999;
    padding-top: 60px;

    > form {
        > label, > input {
            display: block;
            position: relative;
            font: italic 900 34px $font;
            text-align: center;
        }

        > label:not(:first-of-type) { margin-top: 40px !important; }
        > label {
            text-transform: uppercase;
            margin-bottom: 10px;
            color: $grey;
            text-transform: uppercase;
        }
        > input:not([type=submit]) {
            background-color: transparent;
            border-bottom: 1px solid $darkGrey;
            font-weight: 400 !important;
            font-size: 26px !important;
            height: 60px;
            width: 60%;
            margin-left: 20%;
            color: $off-white;
            font-style: normal !important;
        }
            > input:not([type=submit]):focus { border-bottom-color: $menuColor !important; }

        > input[type=submit] {
            position: relative;
            display: block;
            float: left;
            left: 0;
            width: 80%;
            height: 80px;
            background-color: transparent;
            margin-top: 60px;
            color: $green;
            cursor: pointer;
            text-transform: uppercase;
        }
            > input[type=submit]:hover {
                background-color: $green;
                color: $darkerGrey;
            }

        > .close {
            display: block;
            position: relative;
            float: left;
            height: 80px;
            width: 20%;
            margin-top: 60px;
            cursor: pointer;
            background: url("/Images/close.png") no-repeat center;
            background-size: 30px;
        }
            > .close:hover { background-color: $grey; }

        > span { 
            width: 100%;
            text-align: center;
            color: $red;
            font: 400 14px $font;
            margin-top: 5px;
        }
    }
}

@media screen and (max-width: 555px) {
    #popOut_login > form > label, #popOut_login > form > input:not([type=submit]) { font-size: 28px; width: 90% !important; margin-left: 5% !important; }
}

@media screen and (max-width: 1600px) {
    #header { height: 210px; }
    #signIn_circle { display: none; }

    #login > form {
        > .left { width: 70%; }
        > .right { width: 30%; }
    }

    #username, #password { 
        position: relative;
        float: left;
        width: 45%;
        height: 100%;
        margin: 0 0 0 2.5% !important;

        > label, > input { font-size: 22px !important; width: 100% !important; }
    }

    #signIn_cont {
        height: 64px !important; 
        width: 80%;
        margin-left: 10%;
    }
        #signIn_rect { position: absolute; top: 0; height: 100%; width: 100%; font-size: 24px; }
            #signIn_rect:hover {
                @include box-shadow(1px 1px 14px -4px);
                transition: 0.15s;
            }
        
    #signIn_border:before, #signIn_border:after, #signIn_border > :last-child:before, #signIn_border > :last-child:after {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    #signIn_border { position: absolute; top: -1px; left: -1px; width: calc(100% + 1px); height: calc(100% + 1px); }

    #sub {
        > h1 { font-size: 46px; }
        > h2 { display: none; }
    }
}
@media screen and (max-width: 1520px) {
    .side { float: right; width: 50%; padding: 5% 0; }
    #video { width: 100%; }
}
@media screen and (max-width: 1485px) {
    #header { height: 190px; }
    #sub { 
        width: 40% !important;
        > h1 { 
            font-size: 36px; 
            margin-left: 30px; 
        }
        > a {
            font-size: 28px;
            width: 220px;
        }
    }
    #login { 
        width: 60% !important;
    }
}
@media screen and (max-width: 1340px) {
    #header { height: 122px; }
    #sub { 
        width: 25% !important;
        > h1 { display: none; }
        > a { width: 170px; font-size: 24px; }
    }
    #login {
        width: 75% !important;
    }
    #username, #password {
        > label {
            margin-top: 10px !important;
        }
    }
}

@media screen and (max-width: 949px) {
    $width: 150px;
    $font-size: 20px;
    $padding: 13px 0;
    $marginTop: 15px;
    #header { height: auto !important; z-index: 1000; }
    #sub { 
        width: 50% !important; 
        > a {
            width: $width; 
            font-size: $font-size; 
            padding: $padding;
            margin: $marginTop auto !important;
        } 
    }
    #login { 
        width: 50% !important; 
        > button {
            display: block;
            position: relative;
            width: $width; 
            font: italic 900 $font-size $font;
            text-transform: uppercase; 
            padding: $padding;
            border: 1px solid #a7a7a7;
            margin: 0 auto;
            background-color: #d9d9d9;
            margin: $marginTop auto !important;
        }
            > button:hover { @include box-shadow(1px 1px 14px -4px); transition: 0.15s; }
    }
}

@media screen and (max-width: 650px) {
    .side { width: 100%; }
    .ct:before {
      content: "";
      position: absolute;
      left: 20%;
      bottom: 0;
      height: 1px;
      width: 60%;
      border-bottom: 2px solid #4c4c4c;
    }
    .ct { padding-bottom: 7%; }
    .t { padding-top: 7%; }
}

@media screen and (max-width: 390px) {
    #sub > a, #login > button {
        padding: 10px 0;
        margin: 10px auto;
        font-size: 18px;
        width: 130px;
    }
}

@media screen and (max-height: 900px) and (min-width: 1520px) {
    .team { display: none; }
}
@media screen and (max-height: 675px) and (min-width: 1520px) {
    .side > img { width: 30%; }
    .side > h1 { margin-top: 10px; }
}
@media screen and (max-height: 570px) and (min-width: 1520px) {
    .side > img { display: none; }
    .side > h1 { margin-top: 0; }
}
@media screen and (max-height: 440px) and (min-width: 1520px) {
    .side { opacity: 0; height: 1px; }
}