/* -------------------------------------------------------------------------------------------------------------------
                                                    VARIABLES
 ------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------
                                                    MIXINS
 ------------------------------------------------------------------------------------------------------------------- */
.teams {
  position: relative;
  width: auto;
  height: auto;
  padding-left: 50px;
  padding-right: 50px; }

.team {
  position: relative;
  float: left;
  height: 250px;
  width: 250px;
  border: 1px solid #626262;
  background-color: #232323;
  background-position: center;
  background-size: 100%;
  cursor: pointer;
  overflow: hidden; }
  .team .overlay {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0; }
    .team .overlay > h1 {
      position: absolute;
      width: 100%;
      height: auto;
      color: #eeeeee;
      font: italic 900 40px Lato, Arial, sans-serif;
      margin: 0;
      padding: 0;
      text-align: center;
      opacity: 0; }
  .team .triangle {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 26px;
    background: url("/Images/teams_triangle.png") no-repeat center;
    background-size: 59px/26px;
    z-index: 999; }

.team:hover > .overlay {
  top: 0;
  height: 100%;
  opacity: 1;
  transition: 0.3s; }
  .team:hover > .overlay > h1 {
    opacity: 1;
    transition: 0.3s;
    transition-delay: 0.2s; }

.allow_overflow {
  overflow: visible; }

.team_info {
  position: relative;
  float: left;
  height: auto;
  top: -1px;
  background-color: #232323;
  padding: 0;
  margin: 0;
  border: 1px solid #626262; }
  .team_info h6 {
    float: left;
    position: relative;
    width: 50%;
    font: italic 900 60px Lato, Arial, sans-serif;
    color: #eeeeee;
    text-align: right;
    text-transform: uppercase;
    right: 30px !important;
    padding: 0;
    margin: 55px 0 0 0; }
  .team_info .team_matches {
    float: left;
    width: 50%; }
    .team_info .team_matches > h2 {
      text-align: left;
      text-indent: 30px; }
    .team_info .team_matches > h2:first-of-type {
      margin-top: 45px; }

.players {
  position: relative;
  float: left;
  height: auto;
  margin-top: 40px; }

.player {
  position: relative;
  float: left;
  width: auto;
  padding: 20px 40px 40px 40px;
  max-width: 208.33333px;
  overflow: hidden; }
  .player > h1 {
    text-transform: uppercase;
    margin-bottom: 10px; }
  .player > div > h2 {
    font-size: 20px;
    float: left;
    clear: both;
    text-transform: uppercase;
    text-align: left; }

.acc {
  background-image: url("/Images/accuracy.png"); }

.r-time {
  background-image: url("/Images/reactionTime.png"); }

.kd {
  background-image: url("/Images/killDeath.png"); }

.gun {
  position: relative;
  float: left;
  display: block;
  width: 43px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  margin-right: 3px; }

