@import 'global';

$teamH: 250px;
.teams {
    position: relative;
    width: auto;
    height: auto;
    padding-left: 50px;
    padding-right: 50px;
}
.team {
    position: relative;
    float: left;
    height: $teamH;
    width: $teamH;
    border: 1px solid $grey;
    background-color: $infoBgColor;
    cursor: pointer;

    .overlay {
        position: relative;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background-color: rgba(0,0,0,0.85);
        opacity: 0;

        > h1 {
            width: 100%;
            height: 100%;
            line-height: 250px !important;
            color: $off-white;
            font: italic 900 40px $font;
            margin: 0;
            padding: 0;
            text-align: center;
            opacity: 0;
        }
    }

    .triangle {
        position: absolute;
        top: 100%;
        left: calc(50% - 25px);
        width: 50px;
        height: 50px;
        -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0);
        clip-path: polygon(50% 50%, 0 0, 100% 0);
        background-color: $grey;
    }
}
    .team:hover {
        > .overlay {
            > h1 { opacity: 1; transition: 1s; }

            top: 0;
            height: 100%;
            opacity: 1;
            transition: 0.3s;
        }
    }

.team_info {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
}

.players {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
}

.player {
    position: relative;
    float: left;
    width: 100%;
    max-width: $maxContainerWidth / 5;

    > h1 {

    }

    > div {
        > div {

        }
        > h2 {

        }
    }
}

.acc { background-image: url('/Images/accuracy.png') }
.r-time { background-image: url('/Images/reactionTime.png') }
.kd { background-image: url('/Images/killDeath.png') }