/* -------------------------------------------------------------------------------------------------------------------
                                                    GENERAL ATTRIBUTES
 ------------------------------------------------------------------------------------------------------------------- */
html, body {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: auto;
  background-color: #323232;
  overflow-x: hidden; }

textarea, input, button {
  outline: none;
  border: none; }

button {
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent; }

a {
  text-decoration: none;
  cursor: pointer; }

ul {
  list-style-type: none; }

img {
  border: 0; }

.show {
  visibility: visible;
  opacity: 1; }

.hide {
  visibility: hidden;
  opacity: 0; }

.grey, grey {
  color: #626262 !important; }

.green, green {
  color: #51c24b; }

.red, red {
  color: #963434; }

.white, white {
  color: white; }

.orange, orange {
  color: #ffbf5c; }

.offw, offw {
  color: #eeeeee; }

#header {
  background-color: #323232; }
  #header h6 {
    font: italic 900 60px Lato, Arial, sans-serif;
    color: #eeeeee;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    margin: 90px 0 70px 0; }

#error_overlay, #js_error {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #141414;
  z-index: 9999; }
  #error_overlay > div, #js_error > div {
    position: relative;
    width: 50%;
    margin: 40px 25%; }
    #error_overlay > div .overlay_image, #error_overlay > div > #error_overlay_image, #error_overlay > div > #success_overlay_image, #js_error > div .overlay_image, #js_error > div > #error_overlay_image, #js_error > div > #success_overlay_image {
      display: block;
      position: relative;
      width: 220px;
      height: 220px;
      margin-left: calc(50% - 220px / 2);
      border-radius: 50%; }
    #error_overlay > div > #error_overlay_image, #js_error > div > #error_overlay_image {
      background: #963434 no-repeat center/55% url("/Images/close_white.png"); }
    #error_overlay > div > #success_overlay_image, #js_error > div > #success_overlay_image {
      background: #51c24b no-repeat center/55% url("/Images/check.png"); }
    #error_overlay > div > h1, #error_overlay > div > a, #error_overlay > div > button, #js_error > div > h1, #js_error > div > a, #js_error > div > button {
      display: block !important;
      text-align: center;
      font: italic 400 36px Lato, Arial, sans-serif; }
    #error_overlay > div > h1, #js_error > div > h1 {
      color: #eeeeee;
      width: 80% !important;
      margin-left: 10%; }
    #error_overlay > div > a, #error_overlay > div > button, #js_error > div > a, #js_error > div > button {
      width: 60% !important;
      margin-left: 20%;
      margin-top: 50px !important;
      position: relative;
      color: #626262;
      border: 1px solid #323232;
      padding: 15px 0; }
    #error_overlay > div > a:hover, #error_overlay > div > button:hover, #js_error > div > a:hover, #js_error > div > button:hover {
      color: #eeeeee;
      border-color: #eeeeee; }

@media screen and (max-width: 1200px) {
  #error_overlay > div {
    width: 75%;
    margin: 40px 12.5%; }
    #error_overlay > div > h1, #error_overlay > div > a {
      font-size: 30px !important; } }

@media screen and (max-width: 600px) {
  #error_overlay > div {
    margin-top: 80px !important;
    width: 100%;
    margin: 20px 0; }
    #error_overlay > div > h1, #error_overlay > div > a, #error_overlay > div > button {
      font-size: 20px !important; }
    #error_overlay > div > a, #error_overlay > div > button {
      margin-top: 20px !important; }
    #error_overlay > div > div {
      width: 120px !important;
      height: 120px !important;
      margin-left: calc(50% - 120px /2) !important; } }

.info button, .info a, .info h1, .info h2, .info h3, .info h4, .info h5, .h button, .h a, .h h1, .h h2, .h h3, .h h4, .h h5 {
  position: relative;
  display: block;
  text-align: center; }

.info h1, .info h2, .info h3, .info h4, .info h5, .h h1, .h h2, .h h3, .h h4, .h h5 {
  font: italic 900 40px Lato, Arial, sans-serif;
  color: #eeeeee;
  padding: 0;
  margin: 0; }

.info h1, .h h1 {
  font-size: 36px;
  line-height: 30px; }

.info h2, .h h2 {
  font-size: 24px; }

.info h3, .h h3 {
  font-size: 18px; }

.info h4, .h h4 {
  font: 400 16px Lato, Arial, sans-serif;
  padding: 0;
  margin: 0; }

.info h5, .h h5 {
  font: 400 14px Lato, sans-serif;
  color: white; }

.info_container {
  position: relative;
  float: left;
  clear: both;
  width: 85%;
  max-width: 1350px;
  height: auto; }

.info {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  height: auto;
  background-color: #232323;
  margin: 2px auto; }

@media screen and (max-width: 1325px) {
  .info #rep > h2 {
    margin-bottom: 20px; }
  .info #rank > h2 {
    margin-bottom: 15px; }
  .info h1 {
    font-size: 28px; }
  .info h2 {
    font-size: 19px; }
  .info h3 {
    font-size: 15px; }
  .info h4 {
    font-size: 13px; }
  .info h5 {
    font-size: 12px; } }

@media screen and (max-width: 1100px) {
  .info h1 {
    font-size: 23px; }
  .info h2 {
    font-size: 16px; }
  .info h3 {
    font-size: 14px; } }

.popUp {
  position: fixed;
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1500; }
  .popUp > .prompt {
    float: left;
    position: relative;
    display: block;
    width: 80%;
    height: auto;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.9);
    max-width: 1350px;
    overflow: hidden;
    opacity: 0; }
    .popUp > .prompt > span {
      display: block;
      max-width: 80%;
      margin-left: 10%;
      color: #eeeeee;
      font: 400 18px Lato, Arial, sans-serif; }
    .popUp > .prompt > div {
      position: relative;
      float: left;
      display: block;
      height: auto;
      width: 60%;
      margin-left: 20%; }
      .popUp > .prompt > div > button {
        display: block;
        position: relative;
        float: right;
        clear: none;
        width: 40%;
        min-width: 140px !important;
        margin: 40px 5% 20px 5%;
        font: 400 18px Lato, Arial, sans-serif;
        text-align: right;
        text-indent: 75px;
        color: transparent;
        direction: rtl;
        background-size: 30px !important;
        height: 65px;
        transition: background 0.4s; }
      .popUp > .prompt > div > button:hover {
        background-position-x: calc(100% - 30px) !important;
        color: white;
        transition: 0.4s, color 0.2s ease 0.4s; }
    .popUp > .prompt > .lastMatch, .popUp > .prompt .nextMatch {
      position: relative;
      float: left;
      display: block;
      height: auto;
      top: 0;
      left: 0;
      clear: both;
      margin: 0 !important; }
      .popUp > .prompt > .lastMatch h1, .popUp > .prompt > .lastMatch h2, .popUp > .prompt > .lastMatch h3, .popUp > .prompt .nextMatch h1, .popUp > .prompt .nextMatch h2, .popUp > .prompt .nextMatch h3 {
        font-family: Lato, Arial, sans-serif;
        color: #eeeeee; }
      .popUp > .prompt > .lastMatch > div, .popUp > .prompt .nextMatch > div {
        float: left;
        position: relative;
        display: block; }
      .popUp > .prompt > .lastMatch .header1, .popUp > .prompt > .lastMatch h1, .popUp > .prompt > .lastMatch .popUp > .prompt .nextMatch h1, .popUp > .prompt .nextMatch .popUp > .prompt > .lastMatch h1, .popUp > .prompt > .lastMatch h2, .popUp > .prompt > .lastMatch .popUp > .prompt .nextMatch h2, .popUp > .prompt .nextMatch .popUp > .prompt > .lastMatch h2, .popUp > .prompt .nextMatch .header1, .popUp > .prompt .nextMatch .popUp > .prompt > .lastMatch h1, .popUp > .prompt > .lastMatch .popUp > .prompt .nextMatch h1, .popUp > .prompt .nextMatch h1, .popUp > .prompt .nextMatch .popUp > .prompt > .lastMatch h2, .popUp > .prompt > .lastMatch .popUp > .prompt .nextMatch h2, .popUp > .prompt .nextMatch h2 {
        font-weight: 900;
        text-transform: uppercase; }
      .popUp > .prompt > .lastMatch h1, .popUp > .prompt .nextMatch h1 {
        font-style: italic;
        font-size: 30px;
        margin: 5px 0; }
      .popUp > .prompt > .lastMatch h2, .popUp > .prompt .nextMatch h2 {
        font-size: 22px;
        font-weight: 400; }
      .popUp > .prompt > .lastMatch h3, .popUp > .prompt .nextMatch h3 {
        font-size: 16px;
        font-weight: 400;
        padding-bottom: 40px; }
      .popUp > .prompt > .lastMatch .imgTeam > img, .popUp > .prompt .nextMatch .imgTeam > img {
        display: block;
        width: calc(100% - 16px);
        height: calc(100% - 16px);
        margin: 0 auto !important;
        border-radius: 50%;
        border: 8px solid rgba(255, 255, 255, 0.2); }
    .popUp > .prompt > .lastMatch {
      width: auto; }
      .popUp > .prompt > .lastMatch h2, .popUp > .prompt > .lastMatch h3 {
        width: 100%;
        margin: 0 0 2px 0;
        text-align: center; }
      .popUp > .prompt > .lastMatch > div:not(.imgTeam) {
        margin: 0 30px; }
      .popUp > .prompt > .lastMatch > .imgTeam {
        width: 96px;
        height: 96px; }
    .popUp > .prompt > .nextMatch {
      width: 95%;
      padding: 20px 0 30px 5%;
      background-color: rgba(255, 255, 255, 0.07); }
      .popUp > .prompt > .nextMatch h1 {
        margin-bottom: 15px; }
      .popUp > .prompt > .nextMatch h2 {
        font-weight: 900;
        font-style: italic;
        margin: 0 20px;
        height: 86px;
        line-height: 86px; }
      .popUp > .prompt > .nextMatch > div {
        width: 100%; }
        .popUp > .prompt > .nextMatch > div > div {
          float: left;
          position: relative;
          display: block;
          margin: 0 !important; }
        .popUp > .prompt > .nextMatch > div > div:not(.imgTeam) {
          width: auto !important; }
        .popUp > .prompt > .nextMatch > div > .imgTeam {
          width: 70px;
          height: 70px; }
          .popUp > .prompt > .nextMatch > div > .imgTeam > img {
            border-width: 5px !important; }
      .popUp > .prompt > .nextMatch .map {
        float: right; }
        .popUp > .prompt > .nextMatch .map > h2 {
          float: left; }
        .popUp > .prompt > .nextMatch .map > img {
          position: relative;
          float: left;
          height: 86px;
          right: 0;
          -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 25% 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 100%, 25% 100%); }

.popUp:not(.yesNo) > .prompt > div > button {
  background: #51c24b no-repeat center url("/Images/check.png");
  right: -10% !important;
  margin-right: 0 !important; }

.popUp.yesNo > .prompt > div > #confirmPrompt {
  background: #51c24b no-repeat center url("/Images/check.png"); }

.popUp.yesNo > .prompt > div > #closePrompt {
  background: #963434 no-repeat center url("/Images/close_white.png"); }

@media screen and (max-width: 840px) {
  .prompt {
    width: 100% !important; }
    .prompt > div {
      width: 100%; }
    .prompt > span {
      font-size: 16px !important; } }

.teams {
  position: relative;
  width: auto;
  height: auto;
  padding-left: 50px;
  padding-right: 50px; }

.team {
  position: relative;
  float: left;
  height: 250px;
  width: 250px;
  border: 1px solid #626262;
  background-color: #232323;
  background-position: center;
  background-size: 100%;
  cursor: pointer;
  overflow: hidden; }
  .team .overlay {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0; }
    .team .overlay > h1 {
      position: absolute;
      width: 100%;
      height: auto;
      color: #eeeeee;
      font: italic 900 40px Lato, Arial, sans-serif;
      margin: 0;
      padding: 0;
      text-align: center;
      opacity: 0; }
  .team .triangle {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 26px;
    background: url("/Images/teams_triangle.png") no-repeat center;
    background-size: 59px/26px;
    z-index: 999; }

.team:hover > .overlay {
  top: 0;
  height: 100%;
  opacity: 1;
  transition: 0.3s; }
  .team:hover > .overlay > h1 {
    opacity: 1;
    transition: 0.3s;
    transition-delay: 0.2s; }

.allow_overflow {
  overflow: visible; }

.team_info {
  position: relative;
  float: left;
  height: auto;
  top: -1px;
  background-color: #232323;
  padding: 0;
  margin: 0;
  border: 1px solid #626262; }
  .team_info h6 {
    float: left;
    position: relative;
    width: 50%;
    font: italic 900 60px Lato, Arial, sans-serif;
    color: #eeeeee;
    text-align: right;
    text-transform: uppercase;
    right: 30px !important;
    padding: 0;
    margin: 55px 0 0 0; }
  .team_info .team_matches {
    float: left;
    width: 50%; }
    .team_info .team_matches > h2 {
      text-align: left;
      text-indent: 30px; }
    .team_info .team_matches > h2:first-of-type {
      margin-top: 45px; }

.players {
  position: relative;
  float: left;
  height: auto;
  margin-top: 40px; }

.player {
  position: relative;
  float: left;
  width: auto;
  padding: 20px 40px 40px 40px;
  max-width: 208.33333px; }
  .player > h1 {
    text-transform: uppercase;
    margin-bottom: 10px; }
  .player > div > h2 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: left; }

.acc {
  background-image: url("/Images/accuracy.png"); }

.r-time {
  background-image: url("/Images/reactionTime.png"); }

.kd {
  background-image: url("/Images/killDeath.png"); }

