@{
    ViewBag.Title = "Gager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Bet.min.css")

<div>
    <table>
        <thead>
            <tr>
                <th>Équipe commençant T: </th><th>Équipe commençant CT: </th><th></th>
            </tr>
        </thead>
        @{
            foreach (Gobot.Models.Match m in (List<Gobot.Models.Match>)ViewBag.Matches)
            {

            }
        }
    </table>
</div>