
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <table>
        <thead>
            <tr>
                <th>Équipe commençant T: </th><th>Équipe commençant CT: </th><th></th>
            </tr>
        </thead>
        @{
            foreach (Gobot.Models.Match m in (List<Gobot.Models.Match>)ViewBag.Matches)
            {

            }
        }
    </table>
</div>