@model Gobot.Models.Team

@{
    ViewBag.Title = "Équipes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Teams.min.css")

<div class="info" id="header">
    <h6>Équipes</h6>
</div>

<div class="teams">
    <div class="team">
        <div class="overlay"><h1>CLOUD6</h1></div>
        <div class="triangle"></div>
    </div>
    <div class="team">
        <div class="overlay"><h1>CLOUD6</h1></div>
        <div class="triangle"></div>
    </div>
    <div class="team">
        <div class="overlay"><h1>CLOUD6</h1></div>
        <div class="triangle"></div>
    </div>
    <div class="team">
        <div class="overlay"><h1>CLOUD6</h1></div>
        <div class="triangle"></div>
    </div>
    <div class="team">
        <div class="overlay"><h1>CLOUD6</h1></div>
        <div class="triangle"></div>
    </div>
    <div class="team_info h">
        <div>
            <h6>CLOUD6</h6>
            <div class="team_matches">
                <h2 class="grey">48 PARTIES GAGNÉES</h2>
                <h2 class="grey">40 PERDUES</h2>
                <h2 class="grey">98 PARTIES JOUÉES</h2>
            </div>
        </div>
        <div class="players">
            <div class="player">
                <h1>ADAM</h1>
                <div>
                    <div class="gun" style="background-image:url('~/Images/guns/ak-47.png')"></div>
                    <h2 class="grey">fusil d'assaut</h2>
                </div>
                <div>
                    <div class="acc"></div>
                    <h2 class="grey">1.25</h2>
                </div>
                <div>
                    <div class="r-time"></div>
                    <h2 class="grey">1</h2>
                </div>
                <div>
                    <div class="kd"></div>
                    <h2 class="grey">2.0</h2>
                </div>
            </div>
            <div class="player">
                <h1>ADAM</h1>
                <div>
                    <div class="gun" style="background-image:url('~/Images/guns/ak-47.png')"></div>
                    <h2 class="grey">fusil d'assaut</h2>
                </div>
                <div>
                    <div class="acc"></div>
                    <h2 class="grey">1.25</h2>
                </div>
                <div>
                    <div class="r-time"></div>
                    <h2 class="grey">1</h2>
                </div>
                <div>
                    <div class="kd"></div>
                    <h2 class="grey">2.0</h2>
                </div>
            </div>
            <div class="player">
                <h1>ADAM</h1>
                <div>
                    <div class="gun" style="background-image:url('~/Images/guns/ak-47.png')"></div>
                    <h2 class="grey">fusil d'assaut</h2>
                </div>
                <div>
                    <div class="acc"></div>
                    <h2 class="grey">1.25</h2>
                </div>
                <div>
                    <div class="r-time"></div>
                    <h2 class="grey">1</h2>
                </div>
                <div>
                    <div class="kd"></div>
                    <h2 class="grey">2.0</h2>
                </div>
            </div>
            <div class="player">
                <h1>ADAM</h1>
                <div>
                    <div class="gun" style="background-image:url('~/Images/guns/ak-47.png')"></div>
                    <h2 class="grey">fusil d'assaut</h2>
                </div>
                <div>
                    <div class="acc"></div>
                    <h2 class="grey">1.25</h2>
                </div>
                <div>
                    <div class="r-time"></div>
                    <h2 class="grey">1</h2>
                </div>
                <div>
                    <div class="kd"></div>
                    <h2 class="grey">2.0</h2>
                </div>
            </div>
            <div class="player">
                <h1>ADAM</h1>
                <div>
                    <div class="gun" style="background-image:url('~/Images/guns/ak-47.png')"></div>
                    <h2 class="grey">fusil d'assaut</h2>
                </div>
                <div>
                    <div class="acc"></div>
                    <h2 class="grey">1.25</h2>
                </div>
                <div>
                    <div class="r-time"></div>
                    <h2 class="grey">1</h2>
                </div>
                <div>
                    <div class="kd"></div>
                    <h2 class="grey">2.0</h2>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            onResize();
        });

        $(window).resize(function () {
            onResize();
        });

        $(document).on("click", ".team", function () {
            insertTeamInfo($(this));
        });

        function onResize() {
            setWidthFromChilds($(".team"), 5);
            h_align_window($("#header"));
        }

        function insertTeamInfo(e) {
            var clicked = $(".team").index(e) + 1;
            var eRow = getElemPerRows($(".teams"));

            var totalE = $(".team").length;
            var insertAfter = eRow * Math.floor(clicked % eRow == 0 ? clicked / eRow : clicked / eRow + 1);
            if (insertAfter > totalE)
                insertAfter = totalE;

            $(".team_info").remove();
            $(getTeamInfo(e.find("> h1").text())).insertAfter($(".teams > :nth-child(" + insertAfter + ")"));

            $(".team_info").css("width", $(".teams").width() - (eRow + 1));
        }
        function getTeamInfo(teamName) {
            return '<div class="team_info"><h1>nope</h1></div>';
        }
        function getElemPerRows(p) {
            return Math.floor(p.width() / p.find("> :nth-child(2)").outerWidth());
        }
    </script>
}